* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
	text-align: center;
	font-size: 175%;
	margin: 40px;
}
#t1, #t2, #t3 {
	border: 1px solid black;
	width: 160px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}
#t1 {
	color: black;
	background-color: #d27fc8;
}
#t2 {
	color: white;
	background-color: #a53148;
}
#t3 {
	color: black;
	background-color: #cfd27f;
}
p {
	margin-top: 40px;
	margin-left: 10px;
  display: block;
}
.col-md-12 {
  margin-right: 10px;
}

.row {

	position: relative;
}
div {
	background-color: #858585;
	position: relative;
	margin: 10px;
} 

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 30.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 47%;
    }
    
    .col-md-12 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-xs-12 {
        float: left;
        width: 100%;
    }
}
