body {
	font-size: 16px;
	background-color: black;
  	background-size: cover;
	font-family: 'Oxygen', sans-serif;
}
.navbar-brand {
	padding-top: 25px;
	color: #fff;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand h1 {
	color: #fff; 
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
#dropdown {
	background-color: #fff;
}
#nav-link {
	color: #fff;
}
.navbar-brand p {
	color: #fff;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
#header-nav {
	color: #fff; 
	vertical-align: middle;
	border-radius: 0px;
	background-color:rgba(51,51,255,0.25);
}
.navbar-toggler, .navbar-toggler-icon {
	background-color: white;
	border-color: white;
}
#logo-img {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
	color: #fff;
}
#nav-list a {
	text-align: center;
}
#nav-list a:hover {
	background: #50508b;
}
#nav-list a span {
	color: #fff;
	font-size: 1.5em;
}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	text-align: right;
	padding-right: 15px;
}
nav button {
	margin-top: -50px;
}
.navbar a span {
	margin-right: 5px;
}
/**************Large***************/
@media(min-width: 1200px) {
	#logo-img {
		background: url('../images/logo.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 5px 5px 5px 0;
	}
	.navbar-brand h1 {
		font-size: 3.5vw;
	}
}
/**************Medium***************/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand h1 {
		font-size: 3.5vw;
	}
}
/**************Small***************/
@media (min-width: 768px) and (max-width: 991px) {
	
	.navbar-brand h1 {
		font-size: 3.5vw;
	}


}

#imge {
	width: 100%;
	height: auto;
	border: 2px solid white;
	border-radius: 25px;
}
.jumbotron {
	width: 100%;
	background-size: cover;
	background: url('../images/jumbotron.jpg') no-repeat;
	padding-right: 2.5%;
	padding-left: 2.5%;
}

@media (max-width: 790px) {
	.jumbotron {
	padding-right: 1%;
	padding-left: 1%;
	}
}

#reactors, #resources, #map {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid white;
	overflow: hidden;
}
#tiles>div {
	padding-right: 3.5%;
	padding-left: 3.5%;
}

#reactors:hover, #resources:hover, #map:hover, #imge:hover {
	box-shadow: 0 1px 5px 1px white;
}

#reactors{
	background: url('../images/reactors.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
#resources{
	background: url('../images/resources.png') no-repeat;
	background-size: cover;
	background-position: center;
}
#map{
	background: url('../images/map.png') no-repeat;
	background-size: cover;
	background-position: center;
}

#reactors span, #resources span, #map span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: black;
	color: white;
	opacity: .8;
}


